
@{
    ViewBag.Title = "EditInfoPedido";
}


<div class="modal-header modal-header-sienna">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Nuevo Usuario</h4>
</div>
<div class="modal-body">

    <div class="row">

        <form action="" class="col-xs-10 col-xs-push-1">
            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="text" class="form-control input-sm" name="precio" id="precio-mod">
            </div>
            <div class="form-group">
                <label for="estado">Estado:&nbsp;</label><select class="form-control" name="permisos" id="estado-mod">
                    <option value="en-proceso">En proceso</option>
                    <option value="enviado">Enviado</option>
                    <option value="recibido">Recibido</option>
                    <option value="cancelado">Cancelado</option>
                </select>
            </div>
            
            <button type="button" class="btn btn-seagreen pull-right shadow" onclick="actualizarEnvio()">Guardar Cambios</button>
        </form>

        <!--Row form end-->
    </div>

    <!--Modal body-->
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
</div>