
@{
    ViewBag.Title = "Gestion Envios";
}

<div class="row">
    <div class="container">


        <div class="row">

            <h1>Paquetería</h1>


            <form class="col-md-4 col-md-push-4 col-xs-12">
                <div class="form-group">

                    <label class="text-center" for="no-rastreo">No. de Rastreo:</label>
                    <input type="text" class="form-control input-sm " name="no-rastreo" id="no-rastreo">
                    <br />
                    <button type="button" onclick="buscarPorRastreo()" class="btn btn-seagreen col-xs-4 col-xs-push-4">Buscar</button>

                </div>
            </form>


            <!--ROW END-->
        </div>

        <br />

        <div class="row">

            <div class="btn-group">
                <button type="button" onclick="nuevo()" class="btn btn-seagreen">Nuevo</button>
                <button type="button" onclick="ver()" class="btn btn-seagreen">Ver</button>

                <!-- <button type="button" onclick="edit()" class="btn btn-seagreen">Editar</button>  -->
                @if ((string)Session["usuario-rol"] == "admin")
                {
                    <button type="button" onclick="eliminarEnvio()" class="btn btn-seagreen">Eliminar</button>
                }


            </div>
            <!--ROW END-->
        </div>

        <!--CONTAINER END-->
    </div>

    <!--ROW END-->
</div>

<div class="row vp-100">

    <div id="datatable-container" class="container">


        <input type="hidden" value="@Session["usuario-id"]" id="usuario-id" />

        <br />
        <div class="row">
            <table id="table-envios" class="table">
                <thead class="datatable-header">
                    <tr>
                        <th id="id" hidden>Id</th>
                        <th>Folio</th>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Correo</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <!--Should be empty for ajax data load, or match header th to td count for manual filling-->
                <tbody></tbody>
            </table>
        </div>


    </div>

    <!--ROW END-->
</div>

<div class="modal fade" id="modal-registrar-envio" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" id="modal-registrar-envio-cont">

        </div>

    </div>
</div>



<!--Clientes-->
<div class="modal fade" id="modal-clientes" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content"   id="modal-clientes-cont">


            <div class="modal-header modal-header-sienna">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Info. del Cliente</h4>
            </div>

            <div class="modal-body">




                <div class="row">
                    <table id="table-envio-clientes" class="table table-nonfluid col-xs-10 col-xs-push-1">
                        <thead class="datatable-header">
                            <tr>
                                <th id="id" hidden>Id</th>
                                <th>Nombre</th>
                                <th>Telefono1</th>
                                <th>Correo</th>
                            </tr>
                        </thead>
                        <!--Should be empty for ajax data load, or match header th to td count for manual filling-->
                        <tbody></tbody>
                    </table>

                    <br />

                </div>

                <div class="row">
                    <div class="col-xs-10 col-xs-push-1">
                        <button type="button" class="btn btn-seagreen pull-right shadow" onclick="selectCliente()">Seleccionar</button>

                    </div>
                </div>

           


                <!--Modal body-->
            </div>
            <!--
            -->
                
                
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
                



        </div>

    </div>
</div>






@Scripts.Render("~/Scripts/js/paquete.js")


