<div class="row">

    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5></h5>
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5></h5>
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Equipo:</h5>
                    <ul>
                        <li><a href="#">Gabriel Becerra Gónzalez</a></li>
                        <li><a href="#">Adrián Gastélum Norzagaray</a></li>
                        <li><a href="#">Christian Lizárraga</a></li>
                        <li><a href="#">Teodoro Palomera Rodríguez</a></li>

                    </ul>
                </div>
                <div class="col-sm-3 info">
                    <h5>Acerca de:</h5>
                    <p>Proyecto Integrador Agosto-Diciembre 2018</p>
                </div>
            </div>
        </div>
        <div class="second-bar">
            <div class="container">
                <h2 id="logo"><a href="#">ParcelScout</a></h2>
                <div class="social-icons">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </footer>

</div>